.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.contanier{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.data {
  width: 300px;
  padding: 100px;
  /* background-color: #986e90; */
  background: linear-gradient(135deg, #ab46b6, #f14bbd, #ea0b60);
  border: 9px solid #643737;
  border-radius: 50px;
  align-items: center;
}
.name{
  font-size: 23px;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #710b46;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 20px;
}

.btn:hover {
  background-color: #000a01;
}